@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: hara;
  src: url('b.otf');
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  General styling

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


body, html { 
  font-family: Gill Sans;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,0.2) 1px 1px 3px;
}

body {
  color: #333;
  font-size: 0.9em;
  font-weight: 300;
}
h1 {
  font-family: Blackoak STD;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 80px;
  line-height: 60px;
  margin-left: 40px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2) ;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
p {
  font-size: 20px;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #555;
  font-weight: 400;
}
#tix {
  color: #fff;
  border-bottom: #fff dotted 2px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Social media

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#socialul {
  position: fixed;
  right: 20px;
  top: -14px;
}

#socialul li {
  text-align: center;
  display: inline-block;
}

#socialul li img {
  height: 30px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Nav

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


#nav {
  background:rgba(50,50,50,0.8); /*blur would be cool*/
  position: fixed;
  top:0px;
  height: 32px;
  z-index: 9999;
  width: 100%;
  border-bottom: rgba(30,30,30,0.9) solid 1px;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  transition: .2s ease-in-out;
}
h2 a {
  color: #fff;
}
h3 {
  margin-left: 4px;
  font-size: 18px;
  margin-top: 5px;
  letter-spacing: 1px;
}
#navlogo {
  float: left;
  padding: 1px 4px;
  width: 30px;
  opacity: 0.8;
}

h3 a {
  margin-left: 10px;
  font-weight: 300;
  padding: 0px 4px 0 4px;
  color:#eee;
  text-decoration: none;
}
h3 a:hover {
  color: #fff;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Parallax

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


.story { 
  height: 900px; 
  width: 100%; 
  border-top: 1px solid #333; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.content {
  width: 40%;
  margin-left: 100px;
}
.absolute {
  position: absolute;
}
#head { background: url('../img/quadweb.jpg') no-repeat fixed 50% 0; }
#about { background: url('../img/handweb.jpg') no-repeat fixed 80% 0; }
#about .photo { background: url('../img/foeweb.png') no-repeat fixed; background-size: 40%; min-height: 900px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: absolute; }
#staff { background: url('../img/stairsweb.jpg') no-repeat fixed 50% 0; color:#eeeeee; }
#tickets { background: url('../img/trainweb.jpg') no-repeat fixed; color: #eee;}
#contact { background: url('../img/pattern.png') fixed 50% 0; height: 500px; color:#eee; }

.tbox{
  background: rgba(200,200,200,0.4);
  width: 300px;
  padding: 10px 10px 10px 20px;
}
.detail {
  font-size: 14px;
  opacity: 0.8;
}

.logo { 
  background: url('../img/logoclean.png') no-repeat fixed 50% 80px; 
  min-height: 900px;  
  width: 100%; 
  margin: 0 auto; 
}
#blurb {
  padding: 4px;
  background: rgba(255,255,255,0.4);
  width: 100%;
  top: 0px;
  position: absolute;
  margin: 490px auto;
  text-align: center;
}
footer {
  padding: 40px 0;
  height: 80px;
  text-align: center;
  background: url('../img/floral.png') fixed 50% 80px;
}
footer a, footer p, footer img {
  margin: 8px 0;
  font-size: 14px;
}