/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  General styling

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

@font-face {
  font-family: Blackoak_STD;
  src: url('../font/BlackoakStd.otf');
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-shadow: rgba(0,0,0,0.1) 1px 1px 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  color: #333;
  font-weight: 300;
  font-size: 0.9em;
}
h1 {
  margin-left: 40px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 80px;
  font-family: Blackoak_STD;
  line-height: 60px;
}
h2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-weight: 300;
  font-size: 30px;
}
p {
  font-size: 18px;
}
a {
  color: #555;
  text-decoration: none;
  font-weight: 400;
}

iframe{
  width:560;
  height:315;
  margin-left: auto;
  margin-right: auto;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Social media

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#socialul {
  position: relative;
  float: right;
  padding-right: 20px;
}

#socialul li {
  display: inline-block;
  text-align: center;
}

#socialul li img {
  height: 30px;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Nav

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/

#nav {
  position: fixed;
  top: 0;
}
#nav h3 {
  top: -10px;
}
#socialul {
  position: fixed;
  top: -8px;
  /*COMMENT NEXT LINE IF HIDING BANNER*/
  top: 60px;
  right: 0;
}

#nav {
  z-index: 9999;
  /*COMMENT NEXT LINE IF HIDING BANNER*/
  margin-top: 69px;
  width: 100%;
  height: 40px;
  border-bottom: rgba(30,30,30,0.9) solid 1px;
  background:rgba(50,50,50,0.8);
}
#badge {
  padding-left: 14px;
  opacity: 0.5;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
#badge:hover {
  opacity: 1;
}
h2 a {
  color: #fff;
}
h3 {
  position: relative;
  top: 8px;
  margin-left: 1%;
  width: 90%;
  letter-spacing: 1px;
  font-size: 18px;
}
h3 a {
  margin-left: 1%;
  padding: 0px 0.2% 0 0.2%;
  color:#fafafa;
  text-decoration: none;
  font-weight: 300;
}
h3 a:hover {
  color: #fff;
}
h5 {
  font-size: 0.6em;
}

#cta {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 69px;
  background: url('../img/carbon_fibre.png') fixed 50% 80px;
  text-align: center;
}
#banner {
  position: relative;
  top: 4px;
  margin: 0;
  padding: 8px 10px 4px 10px;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
}
#banner a {
  font-size: 23px;
}

.videowrapper {
  text-align:center;
  width:100%;
}

/*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*

  Parallax

~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*~'`^`'~*-,._.,-*/


.story { 
  width: 100%; 
  height: 900px; 
  border-top: 1px solid #333; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.taller {
  height: 1150px;
}
.tall {
  height: 1500px;
}
.panetitle {
  width: 100%;
}
#smcontent {
  padding: 0 26px;
  background: rgba(255,255,255,0.8);
  font-size: 40px;
  line-height: 150%;
}
.content {
  float: left;
  margin-left: 100px;
  width: 80%;
}
.wide {
  padding: 10px 10px 10px 20px; 
  width: 70%;
  border-radius: 10px; 
  background: rgba(0,0,0,0.4);
  color: #e8e8e8;
}
.upper {
  position: relative;
  top: -40px;
}
.absolute {
  position: absolute;
}
.aboutdet {
  padding: 4px;
  max-width: 900px;
  border-left: #333 solid 8px;
  border-radius: 4px;
  background: rgba(255,255,255,0.5);
  font-size: 14px;
}
.thin {
  width: 18%;
}
.right {
  top: 2px;
  width: 80%;
}
#head { background: url('../img/quadweb.jpg') no-repeat fixed 50% 0; }
#smdesc { height:800px; background: url('../img/office.jpg') no-repeat fixed 50% 0; }
#about { background: url('../img/forestweb.jpg') no-repeat fixed 80% 0; }
#staff { height: 1200px; background: url('../img/noisy.png') fixed; color:#333; }
#events { height: 1900px; background: url('../img/phant-1.jpg') fixed; color: #fafafa;}
#contact { height: 700px; background: url('../img/grouplove-1.jpg') fixed; color:#fafafa; }

.tbox{
  margin-left: 40px;
}
.detail {
  font-size: 14px;
  opacity: 0.8;
}
#announce {
  display: block;
  margin: 0 auto;
  width: 60%;
  border: rgba(0,0,0,0.4) solid 20px;
  border-radius: 10px;
  color: #fafafa;
  font-size: 40px;
}
#banner a {
  color: #ff00aa;
}
#band {
  margin: 0;
  font-size: 70px;
}
#address {
  position:relative;
  top:-30px;
  text-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
  font-size: 24px;
}
#general {
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  border-bottom: #eee dotted 2px;
  color: #eee;
  font-size: 40px;
  line-height: 40px;
}
#phone {
  position: relative;
  top: 20px;
  left: 20px;
  display:inline;
}
.logo { 
  margin: 0 auto; 
  min-height: 900px;  
  width: 100%; 
  background: url('../img/vintage.png') no-repeat fixed 50% 80px; 
}
#blurb {
  position: absolute;
  top: 0px;
  margin: 490px auto;
  padding: 4px;
  width: 99.4%;
  background: rgba(255,255,255,0.4);
  text-align: center;
}
footer {
  padding: 20px 0;
  height: 80px;
  background: url('../img/carbon_fibre.png') fixed 50% 80px;
  color: #ddd;
  text-align: center;
  opacity: 0.8;
}
footer a, footer p, footer img {
  margin: 8px 0;
  color: #eee;
  font-size: 14px;
}


@media (max-width: 768px) {
  .logo {
    background-size: 90%;
  }
  #cta h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
  #smcontent {
    font-size: 2em;
  }
  .content.wide {
    margin-left: 10px;
    width: 90%;
  }
}

@media (min-width: 1200px) {

}
